.crosscheck-block .upload {
    float: left;
    margin-right: 3px;
}

.upload_input {
    position: relative;
	overflow: hidden;
    text-align: center;
    width: 150px;
	cursor: pointer;
    box-sizing:border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.crosscheck-block .upload_input input[type="file"] {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 36px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.crosscheck-block .button {
    border-radius: 3px;
    background-color: #eee;
    padding: 6px 32px 7px;
    border: 1px solid #cfc6c6;
    box-shadow: inset 0 1px 0 0 #fff;
    text-shadow: 0 1px 0 #f9f8f8;
    color: #333;
    height: 38px;
}

.crosscheck-block .button-highlighted {
    background: linear-gradient(#1e8bbe,#0e72a1) #1d9dd9;
    border-color: #0d72a2;
    box-shadow: inset 0 1px 0 0 #61b8e1;
    text-shadow: 0 1px 0 #076794;
    color: #fff;
}

.crosscheck-block .button-highlighted:hover {
    background: linear-gradient(#0e72a1,#0e72a1) #0e72a1;
    border-color: #0d72a2;
    box-shadow: inset 0 1px 0 0 #61b8e1;
    text-shadow: 0 1px 0 #076794;
    color: #fff;
}

.crosscheck-block #crosscheck-content {
    overflow: hidden;
	width: 100%;
}

.crosscheck-block .file-info {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 5px 0;
}

.crosscheck-block .crosscheck-message {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin: 5px 0;
}

.crosscheck-block .crosscheck-message p {
    margin: 0 !important;
}

.crosscheck-block div.message-error {
    border-color: #c0392b;
    background-color: #e74c3c;
}

.crosscheck-block div.message-info {
    border-color: green;
    background-color: lightgreen;
}

.crosscheck-block div.message-hint {
    border-color: darkorange;
    background-color: lightyellow;
    color: #000;
}

.crosscheck-block div.message-error p {
    color: white;
}

.crosscheck-block .upload_controllers {
    margin: 10px 0;
}

.crosscheck-block .grading-form {
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 5px 0;
}

.crosscheck-block .grading-form .enter-grade-form-field {
    display: inline-block;
    margin: 5px;
}

.crosscheck-block .grading-form .enter-grade-form-field-name {
    width: 100px;
}

.crosscheck-block .grading-form .enter-grade-form-field-value {
    width: 500px;
}

.crosscheck-block .task_text {
    margin-bottom: 20px;
}

.crosscheck-block .task_criteria {
    margin-bottom: 20px;
}

.crosscheck-block .task_criteria ul { margin: 0.5em; }
.crosscheck-block .task_criteria li { margin-bottom: 0 !important; }

.crosscheck-block .problem-header {
    display: inline-block;
}

.crosscheck-block .problem-progress {
    display: inline-block;
    padding-left: 5px;
    color: #666;
    font-weight: 100;
    font-size: 1em;
}

.crosscheck-block .grade-form-message {
    display: none;
}

.crosscheck-block .block-status-container {
    clear:  both;
    margin-bottom: 20px;
}

.crosscheck-block .block-status-block {
    border: 1px solid #aaa;
    width: 100px;
    border-radius: 15px;
    height: 75px;
    background-color: #f8f8f8;
    float: left;
    margin-right: 10px;
}

.crosscheck-block .block-status-passed {
    background: #ccc;
}

.crosscheck-block .block-status-active {
    background: lightgreen;
}

.crosscheck-block .block-status-common {
    /* border-top: 15px; */
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid #aaa;
    height: 15px;
}

.crosscheck-block .block-status-text {
    /* margin: auto auto; */
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 75px;
    padding-top: 7px;
    width: 100px;
}

.crosscheck-block .block-arrow-container {
    float: left;
    margin-right: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
}

.crosscheck-block .crosscheck-passed {
    margin-top: 30px !important;
}

/*====================================================================================================================*/

/*
 * Summary table on staff info modal
 */

.crosscheck-staff-info-summary-table {
    margin: 20px 0;
}

.crosscheck-staff-info-summary-th {
    width: 200px;
}

.crosscheck-staff-info-summary-td {

}

/*====================================================================================================================*/

/*
 * Submissions table on staff info modal
 */

.crosscheck-staff-info-submissions-table {
    width: 100%;
}

.crosscheck-staff-info-submissions-tr {
    width: 200px;
}

.crosscheck-staff-info-submissions-tr-error {
    background-color: #ffc0c0;
}

.crosscheck-staff-info-submissions-th {
    text-align: center;
}

.crosscheck-staff-info-submissions-td {
    padding: 5px;
    text-align: center;
    border-top: 1px solid lightgray;
}

.crosscheck-staff-help {
    color: grey;
    font-size: 10pt;
}

.crosscheck-staff-help-sub {
    display: block;
}

/*====================================================================================================================*/