<div class="crosscheck-block" id="crosscheck-block" data-state="{{ state }}" data-max_score="{{ max_score }}">

    <h2 class="problem-header">{{ display_name }}</h2>

    <div class="problem-progress"></div>

    <div class="task_text">
        {{ task.text|safe }}
    </div>

    <div class="crosscheck-message">
        <pre>{{state}}</pre>
    </div>

    <script type="text/template" id="crosscheck-template">

        <% if (message) { %>
            <div class="crosscheck-message message-<%= message.message_type %>">
                <p><%= message.message_text %></p>
            </div>
        <% } %>

        <% if (uploaded) { %>
            <div class="file-info">
                You have uploaded the following file: <br/>
                File name: <b><a href="<%= uploaded.url %>"><%= uploaded.filename %></a></b>
            </div>
        <% } %>

        <% if (is_upload_allowed) { %>

            <% if (!uploaded) { %>
                <div class="crosscheck-message message-hint">
                    <p>Please upload your solution using buttons below.</p>
                </div>
            <% } %>

            <% if (!uploaded || !uploaded.approved) { %>
                <div class="controllers">
                    <div class="upload"></div>
                    <% if (uploaded) { %>
                        <button class="button upload_approve" data-in-progress="Sending to peers...">Send to peers</button>
                    <% } %>
                </div>
            <% } %>

            <% if (uploaded && uploaded.approved) { %>
                <% if (!score || !score.passed) { %>
                    <div class="crosscheck-message message-hint">
                        <p>You have approved your submission. It will be graded soon.</p>
                    </div>
                <% } %>
            <% } %>

        <% } %>

        <% if (is_grading_allowed) { %>

            <% if (uploaded && uploaded.approved || is_staff) { %>

                <% if (rolled) { %>

                    <div class="grading-form">
                        <p>
                            You are now grading submission <a href="<%= rolled.file_url %>"><%= rolled.filename %></a>. Please follow criteria below.
                        </p>

                        <div class="task_criteria">
                            {{ task.criteria|safe }}
                        </div>

                        <div class="crosscheck-message message-error grade-form-message"></div>

                        <form id="enter-grade-form">
                            <div>
                                <div class="enter-grade-form-field enter-grade-form-field-name">
                                    <span>Grade: </span>
                                </div>
                                <div class="enter-grade-form-field enter-grade-form-field-value">
                                    <input id="grade-input" name="grade"/>&nbsp;&nbsp;<span>(Max: <b>{{ max_score }})</b></span>
                                </div>
                            </div>
                            <div>
                                <div class="enter-grade-form-field enter-grade-form-field-name">
                                    <span>Comment: </span>
                                </div>
                                <div class="enter-grade-form-field enter-grade-form-field-value">
                                    <textarea id="comment-input" name="comment" rows="4" style="width: 100%; height: auto;"></textarea>
                                </div>
                            </div>
                            <div class="controllers">
                                <button type="submit" class="button button-highlighted">Grade</button>
                            </div>
                        </form>
                    </div>


                <% } else { %>
                    <div class="crosscheck-message message-hint">
                        <%
                            extra_message = '';
                            grades_to_go = score.need_grades - score.own_grades;
                            if (grades_to_go > 0) {
                                extra_message = 'You need to grade <b>' + grades_to_go + '</b> more submission(s) before your score can be published.'
                            }
                        %>
                        <p>You can now get a submission for grading. <%= extra_message %></p>
                    </div>
                    <div class="controllers">
                        <button class="button button-highlighted roll_btn" data-in-progress="Getting submission...">Get submission</button>
                    </div>
                <% } %>

             <% } else { %>
                <div class="crosscheck-message message-hint">
                    <p>You have not uploaded so it won't be graded.</p>
                </div>
             <% } %>

        <% } %>

        <% if (score && score.passed) { %>
            <div class="crosscheck-message">
                <h3>You received following reviews for your submission</h3>
                {% for review in reviews %}
                    <div class="crosscheck-message">
                        <p><b>Score:</b> {{ review.score }}</p>
                        <p><b>Comment:</b> {{ review.comment|linebreaksbr }}</p>
                    </div>
                {% endfor %}
            </div>
        <% } %>

    </script>

    <!-- Default button to select file -->
    <script type="text/template" id="crosscheck-upload-input">
        <div class="button upload_input">
            <span>Choose file</span>
            <input class="file_upload" type="file" name="assignment"/>
        </div>
    </script>

    <!-- UI to uploaded recently selected file -->
    <script type="text/template" id="crosscheck-upload-selected">
        <button class="button upload_another">Select another file</button>
        <button class="button button-highlighted upload_do" data-in-progress="Uploading... ">Upload <%= filename %></button>
    </script>

    <div id="crosscheck-content"></div>

</div>